<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>学生作品展示平台-后台管理</webname>
  <webcompany>重庆工程学院软件与计算机学院</webcompany>
  <weburl>http://www.cqgcxy.com:804/</weburl>
  <webtel />
  <webfax />
  <webmail>7357220@qq.com</webmail>
  <webcrod>渝ICP备000068号</webcrod>
  <webtitle>重庆工程学院软件与计算机学院</webtitle>
  <webkeyword>重庆工程学院软件与计算机学院</webkeyword>
  <webdescription>重庆工程学院软件与计算机学院</webdescription>
  <webcopyright>Copyright &amp;copy; 2017 - 2020. &lt;a href="http://www.cqgcxy.com:804/"&gt;重庆工程学院软件与计算机学院&lt;/a&gt;. All Rights Reserved.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode />
  <staticstatus>1</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <emailstmp>stmp.dtcms.net</emailstmp>
  <emailport>25</emailport>
  <emailfrom>test@dtcms.net</emailfrom>
  <emailusername>test@dtcms.net</emailusername>
  <emailpassword>50C215BB3B599960</emailpassword>
  <emailnickname>邮件测试</emailnickname>
  <attachpath>upload</attachpath>
  <attachextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</attachextension>
  <attachsave>2</attachsave>
  <attachfilesize>51200</attachfilesize>
  <attachimgsize>10240</attachimgsize>
  <attachimgmaxheight>0</attachimgmaxheight>
  <attachimgmaxwidth>0</attachimgmaxwidth>
  <thumbnailheight>0</thumbnailheight>
  <thumbnailwidth>0</thumbnailwidth>
  <watermarktype>0</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>100</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>重庆工程学院软件与计算机学院</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <templateskin>yolon</templateskin>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>DTcms</sysencryptstring>
</siteconfig>