<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" path="index.aspx" pattern="index.aspx$" page="index.aspx" querystring="" templet="index.html" channel="0" type="index" inherit="WorksShow.Web.UI.Page.index" />
  <rewrite name="search" path="search.aspx" pattern="search.aspx" page="search.aspx" querystring="" templet="search.html" channel="0" type="no" inherit="WorksShow.Web.UI.Page.search" />
  <rewrite name="error" path="error.aspx" pattern="error.aspx" page="error.aspx" querystring="" templet="error.html" channel="0" type="no" inherit="WorksShow.Web.UI.Page.error" />
  <rewrite name="jingpinshangxi" path="jingpinshangxi.aspx" pattern="jingpinshangxi.aspx" page="jingpinshangxi.aspx" querystring="" templet="jingpinshangxi.html" channel="0" type="no" inherit="WorksShow.Web.UI.Page.jingpinshangxi" />
  <rewrite name="anlimain" path="anlimain.aspx" pattern="anlimain.aspx" page="anlimain.aspx" querystring="" templet="anlimain.html" channel="0" type="no" inherit="WorksShow.Web.UI.Page.anlimain" />
  <rewrite name="anli1" path="anli1.aspx" pattern="anli1.aspx" page="anli1.aspx" querystring="" templet="anli1.html" channel="0" type="no" inherit="WorksShow.Web.UI.Page.anli1" />
  <rewrite name="anli2" path="anli2.aspx" pattern="anli2.aspx" page="anli2.aspx" querystring="" templet="anli2.html" channel="0" type="no" inherit="WorksShow.Web.UI.Page.anli2" />
  <rewrite name="anlifirst" path="anlifirst.aspx" pattern="anlifirst.aspx" page="anlifirst.aspx" querystring="" templet="anlifirst.html" channel="0" type="no" inherit="WorksShow.Web.UI.Page.anlifirst" />
  <rewrite name="renshizhaop" path="renshizhaop.aspx" pattern="renshizhaop.aspx" page="renshizhaop.aspx" querystring="" templet="renshizhaop.html" channel="0" type="no" inherit="WorksShow.Web.UI.Page.renshizhaop" />
  <rewrite name="lianxifangs" path="lianxifangs.aspx" pattern="lianxifangs.aspx" page="lianxifangs.aspx" querystring="" templet="lianxifangs.html" channel="0" type="no" inherit="WorksShow.Web.UI.Page.lianxifangs" />
  <rewrite name="article_list" path="article/{0}/{1}.aspx" pattern="article/(\d+)*/(\w+).aspx$" page="atcicle_list.aspx" querystring="category_id=$1^page=$2" templet="article_list.html" channel="17" type="list" inherit="DTcms.Web.UI.Page.article_list" />
  <rewrite name="article_show" path="article/show/{0}.aspx" pattern="article/show/(\d+).aspx$" page="atcicle_show.aspx" querystring="id=$1" templet="article_show.html" channel="17" type="detail" inherit="DTcms.Web.UI.Page.article_show" />
  <rewrite name="product_list" path="product/{0}/{1}.aspx" pattern="product/(\d+)*/(\w+).aspx$" page="producti_list.aspx" querystring="category_id=$1^page=$2" templet="product_list.html" channel="19" type="list" inherit="DTcms.Web.UI.Page.article_list" />
  <rewrite name="product_show" path="product/show/{0}.aspx" pattern="product/show/(\d+).aspx$" page="producti_show.aspx" querystring="id=$1" templet="product_show.html" channel="19" type="detail" inherit="DTcms.Web.UI.Page.article_show" />
</urls>